<%= form_for @job do |f| %>
<% if @job.errors.any? %>
      <%= pluralize(@job.errors.count, "error") %>
      Prohibited boats to be assigned 
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "44x10" %><br>
  <%= f.label :origin %><br>
        <select name="origin">
        <option value="newyork">NYC</option>
        <option value="pittsburgh">PIT</option>
        <option value="baltiomre">BA</option>
        <option value="philly">PHILLY</option>
        <option value="chicago">CHI</option>
        <option value="miami">MIA</option>
        <option value="neworleans">NO</option>
        <option value="huston">HU</option>
        <option value="la">LA</option>
        <option value="alaska">ASK</option>
      </select><br/>
      <%= f.label :destination %><br>
      <select name="destination">
        <option value="newyork">NYC</option>
        <option value="pittsburgh">PIT</option>
        <option value="baltiomre">BA</option>
        <option value="philly">PHILLY</option>
        <option value="chicago">CHI</option>
        <option value="miami">MIA</option>
        <option value="neworleans">NO</option>
        <option value="huston">HU</option>
        <option value="la">LA</option>
        <option value="alaska">ASK</option>
      </select><br/>
  <%= f.label :Cost %><br>
  <%= f.number_field :cost_of_job %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Create" %>
<% end %>
