
<%= form_for @job, url: new_job_path do |f| %><% if @job.errors.any? %>
      <%= pluralize(@job.errors.count, "error") %>
      Prohibited boats to be assigned 
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "44x10" %><br>
  <%= f.label :Cost %><br>
  <%= f.number_field :cost_of_job %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
 
<%= f.label :origin %><br>
<%= select(:job, :origin, [['nyc', 'nyc'], ['pit', 'pit'], ['ba', 'ba'], ['philly', 'philly'], ['chicago', 'chicago'], ['miami', 'miami'], ['no', 'no'], ['hu','hu'],['la', 'la'], ['ask', 'ask']]) %><br>
<%= f.label :destination %><br>
<%= select(:job, :destination, [['nyc', 'nyc'], ['pit', 'pit'], ['ba', 'ba'], ['philly', 'philly'], ['chicago', 'chicago'], ['miami', 'miami'], ['no', 'no'], ['hu','hu'], ['la', 'la'], ['ask', 'ask']]) %><br>
<%= f.submit %>
<% end %>
