    <div id="Info">
        <p>
            <strong>Job title:</strong>
           <span> <%= @job.title %> </span>
        </p>


        <p>
            <strong>Description:</strong>
            <span> <%= @job.description %> </span>
        </p>
        <p>
            <strong>Origin:</strong>
            <span> <%= @job.origin %> </span>
        </p>

        <p>
            <strong>Destination:</strong>
            <span> <%= @job.destination %> </span>
        </p>

            <p>

              <strong> Pick a boat for this Job </strong> <br>
                <%= select_tag 'boat',  options_from_collection_for_select(Boat.all, :id, :name) %>




    </div>
