<h2 class="title"><%= @job.title %></h2>


<div id="info" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 list-item">
            <strong>Description:</strong>
            <span> <%= @job.description %> </span>
        </div>
        <div class="col-sm-6 list-item">
            <strong>Origin:</strong>
            <span> <%= @job.origin %> </span>
        </div>
        <div class="col-sm-6 list-item">
            <strong>Destination:</strong>
            <span> <%= @job.destination %> </span>

        </p>

            <p>
            <strong> amount of containers: </strong>
            <span> <%= @job.amount_of_containers %> </span>
            </p>
         

              <strong> Pick a boat for this Job </strong> 
                            <strong> Pick a job for this boat </strong> <br>
              <%= form_for :assignment, url: {controller: "assignments", action: "create"} do |f| %>
                <%= f.select "boat_id", options_from_collection_for_select(Boat.all, :id, :name) %><br>
                <%= f.hidden_field :job_id, value: @job.id %>
                <%= button_to 'Submit', new_assignment_path %>
              <% end %>
              <br>

    </div>
</div>

        </div>
        <div class="col-sm-12 list-item">
            <%= link_to("Edit", edit_job_path) %>
        </div>
    </div>
</div>
