    <div id="Info">
        <p> 
            <strong>Job title:</strong>
           <span><%=@jobs.title%></span>
        </p>
     

        <p>
            <strong>description:</strong>
            <span> <%= @job.description %> </span>
        </p>
        <p>
            <strong>origin:</strong>
            <span><%=  @job.origin%> </span>
        </p>
      
        <p>
            <strong>destination:</strong>
            <span> <%=@job.destination %> </span>
        </p>

            <p>
            <strong> amount of containers: </strong>
            <span><%= job.amount_of_containers%></span>
           
            </p>
    </div>
