<h2 class="title"><%= @job.title %></h2>


<div id="info" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 list-item">
            <strong>Description:</strong>
            <span> <%= @job.description %> </span>
        </div>
        <div class="col-sm-6 list-item">
            <strong>Origin:</strong>
            <span> <%= @job.origin %> </span>
        </div>
        <div class="col-sm-6 list-item">
            <strong>Destination:</strong>
            <span> <%= @job.destination %> </span>
        </div>
        <div class="col-sm-6 list-item">
            <strong>Amount of Containers:</strong>
            <span> <%= @job.amount_of_containers %> </span>
        </div>
        <div class="col-sm-12 list-item">
            <strong> Pick a boat for this job </strong><br>
            <%= form_for :assignment, url: {controller: "assignments", action: "create"} do |f| %>
                <%= select_tag 'boat', options_from_collection_for_select(Boat.all, :id, :name) %>
                <%= f.hidden_field :job_id, value: @job.id %>
                <%= button_to 'Submit', new_assignment_path %>
            <% end %>
        </div>
        <div class="col-sm-12 list-item">
            <%= link_to("Edit", edit_job_path) %>
        </div>
    </div>
</div>
