<h2 class="title"><%= @boat.name %></h2>

<div id="info" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 list-item">
            <%= image_tag @boat.avatar.url(:medium) %>
        </div>
        <div class="col-sm-12 list-item">
            <strong>Location:</strong>
            <span> <%= @boat.location %> </span>
        </div>
        <div class="col-sm-12 list-item">
            <strong>Amount that can be shipped:</strong>
            <span> <%= @boat.amount_that_can_be_shipped %> </span>
        </div>
        <div class="col-sm-12 list-item">
             <%= select_tag "jobs", options_from_collection_for_select(Job.all, :id, :title) %>
        </div>
        <div class="col-sm-12 list-item">
            <%= link_to("Edit", edit_boat_path) %>
        </div>
    </div>
</div>
