<!DOCTYPE html>
<html>
  <head>
    <title>Shippr</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
    		<div class="navbar-header"> 
    			<%= link_to(root_path, class: "navbar-brand")  do %>
				 	SHIPPR
				 <% end %>
    		</div>
    	
			<% if (user_signed_in?) %>
				<ul class="nav navbar-nav">
					<li><%= link_to("Boat Index", boats_path)  %></li>
					<li><%= link_to("Job Index", jobs_path)  %></li>

					<% if (current_user.shipper=="Shipper") %>
						<li><%= link_to("Create New Boat", new_boat_path)  %></li>

					<% else (current_user.shipper=="Jobber")%>
						<li><%= link_to("Create New Job", new_job_path) %></li>
					<% end %>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to(destroy_user_session_path, method: :delete) do %>
							<span class="glyphicon glyphicon-log-out"></span>
							Sign Out
						<% end %>	
					</li>
				</ul>

			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<%= link_to(new_user_registration_path) do %>
							<span class="glyphicon glyphicon-user"></span>
							Sign Up
						<% end %>	
					</li>
					<li>
						<%= link_to(new_user_session_path) do %>
							<span class="glyphicon glyphicon-log-in"></span>
							Sign In
						<% end %>	
					</li>
				</ul>
			<% end %>

		</div>
	</nav>
    <%= yield %>
  </body>
</html>
